*,
*::before,
*::after {
    box-sizing: border-box;

}


body {
    font-family: "Charm", serif;
    margin: 40px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease;
	height: 100vh;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.charm-regular {
    font-family: "Charm", serif;
    font-weight: 400;
    font-style: normal;
}

.charm-bold {
    font-family: "Charm", serif;
    font-weight: 700;
    font-style: normal;
}

.quote-mark {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}

.quote {
    font-size: 1.5rem;
    line-height: 1.6 rem;

}

button {
    width: 200px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #388E3C;
    border-radius: 25px;
    position: center;
}

button:hover {
    transform: scale(1.05);

}

@media(min-width: 768px) {
    .container {
        margin-left: 350px;
        margin-right: 350px;
        width: 300px;
    }
}